#map{
    height:400px;
    width:60%;
    margin: auto;
}

#map * {
    color: black;
}

#map_info{
    width:60%;
}

#alert_history_text,#current_location_information{
    text-align: center;
    text-decoration: underline;
}

#alert_history{
    height:125px;
    overflow: visible;
}