/* represents <html> element. use to define global vars */
:root {
    --white: #ffffff;
    --black: #000000;
    --grey: #121212;
    --green: #199319;
}

/* applies to all page elements */
* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--backgroundColor);
}

.light-theme {
    --backgroundColor: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}
  
.dark-theme {
    --backgroundColor: var(--grey);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

h1 {
    text-align: center;
}

.btn {
    background-color: #199319;
    color: rgb(243, 226, 226);
    padding: 10px;
    width: 120px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
  }
.btn:hover {
    cursor:pointer;
    background-color: #223094;
    color: rgb(243, 226, 226);
}

.btn2 {
    position: absolute;
    top: 20px;
    right: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
.btn2:focus { outline-style: none; }

.container_grid_row {
    height:250px; 
}

.container_grid_col {
    position: relative;
    height: 250px;
}
.container_tile {
    margin: 0;
    position: absolute;
    top: 50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height:200px;
    width:300px;
    text-align: center;
}
.container_tile:hover {
    cursor:pointer;
}
